<head>
    <meta charset="utf-8">
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link rel="stylesheet" href="index.css">
      <title>Maps</title>
  </head>
  <body>
    <h1 class="heading">
        <span class="blue">Ciceksepeti</span>
    </h1>
    <div id="map"></div>
    <script src="index.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnc2P-vuErXcYlgfbRTcNQ4F4yKw49ydM&callback=initMap">
    </script>
  </body>