* {   
    padding: 0;
    margin: 0;
  }
  
  h1{
    font-weight: bold;
    font-family: Oswald;
    text-align: center;
    color: #000000;
  }
  
  .heading
  {
    width: 100%;
    height: 50px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(170,170,170,0.7);
    -moz-box-shadow: 0px 5px 5px 0px rgba(170,170,170,0.7);
    box-shadow: 0px 5px 5px 0px rgba(170,170,170,0.7);
    color: #000000;
    background: #f1f1f1;
    opacity:0.8;
  }
  .blue{
    color: aqua;
    background: black;
  }
  
  #map {
    height: 800px;
    width: 100%;
    margin: 0 auto;
    margin-top: 1%;
  }